@using Eticaret.Magaza.Services
@using Eticaret.Model
@using Eticaret.Model.ViewModels;
@using Newtonsoft.Json;

@inject IKategoriService kategoriService

@{
    Doviz? doviz = new();
    string apiUrl = "https://localhost:7077/Doviz/Get?doviz=usd";

    List<Kategori> kategoriler = await kategoriService.GetAllAsync();

    using HttpClient client = new();
    HttpResponseMessage response = await client.GetAsync(apiUrl);

    if (response.IsSuccessStatusCode)
    {
        string responseBody = await response.Content.ReadAsStringAsync();
        doviz = JsonConvert.DeserializeObject<Doviz>(responseBody);
    }
    else
    {
        doviz = null;
    }
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eticaret.Magaza</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-success navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BiMilyoncu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @foreach (Kategori kategori in kategoriler)
                    {
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Kategori" asp-action="Index" asp-route-url="@kategori.Url">@kategori.Ad</a>
                        </li>
                    }
                </ul>
                <form class="d-flex align-items-center" role="search">
                    <input class="form-control me-2" type="search" placeholder="Ürün ara..." aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Ara</button>

                    @if (doviz != null)
                    {
                        <div style="margin-left: 15px; width: 200px; color: white;">@doviz.Ad = @doviz.Kur ₺</div>
                    }

                    <a href="/sepet" class="btn btn-danger ms-2" type="button" id="sepetButon">Sepet</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
