@using Eticaret.Model

@{
    Kategori? kategori = (Kategori?)ViewBag.Kategori;
    List<Urun> urunler = (List<Urun>)ViewBag.Urunler;
}

@if (kategori == null)
{
    <div class="row">
        <div class="col-md-12">
            <center>
                <h1>Kategori Bulunamadı</h1>
            </center>
        </div>
    </div>
}
else
{
    <div class="row mb-3">
        <div class="col-md-12">
            <h1>@kategori.Ad</h1>
        </div>
    </div>

    <div class="row">
        @foreach (Urun urun in urunler)
        {
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5>@urun.Ad</h5>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>@urun.Fiyat</span>
                            <button class="btn btn-sm btn-primary" onclick="sepeteEkle('@urun.Id', '@urun.Ad', @urun.Fiyat);">Sepete Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@section Scripts{
    <script>
        var sepet = localStorage.getItem("sepet");
        var sepetButon = document.getElementById("sepetButon");

        if (sepet == null) {
            sepet = [];
            sepetButon.innerText = "0";
        } else {
            sepet = JSON.parse(sepet);
            let toplamAdet = sepet.reduce((acc, m) => acc += m.adet, 0);
            sepetButon.innerText = toplamAdet;
        }

        function sepeteEkle(id, ad, fiyat) {
            let bulunanIndex = sepet.findIndex(m => m.id == id);

            if (bulunanIndex == -1) {
                let yeniUrun = {
                    id: id,
                    ad: ad,
                    fiyat: fiyat,
                    adet: 1
                };

                sepet.push(yeniUrun);
            } else {
                sepet[bulunanIndex].adet += 1;
            }

            let toplamAdet = sepet.reduce((acc, m) => acc += m.adet, 0);
            sepetButon.innerText = toplamAdet;
            localStorage.setItem("sepet", JSON.stringify(sepet));
        }
    </script>
}